body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./pictures/background.jpg') */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arapey', serif;  
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #2a445b;
}

section {
  padding: 60px 0;
}

.margin-section{
  padding-top:4.0rem !important;
  padding-bottom:4.0rem !important;
}

.margin-section-extra{
  padding-top:5rem !important;
  padding-bottom:2.5rem !important;
}

.home-header-div{
  max-height:500px !important;
  padding: 50px 0 !important;
}

.header-mobile-button{
  display:none;
}

.show{
  display:inline-block;
}

.margin-10{
  margin: 2rem 0px;
}

.practice-grid{
  min-height:300px;
  max-height: 500px;
  min-width: 150px;
  max-width: 225px;
  background-color:white;
  padding: 15px;
  border-radius:5px;
}

.practice-text{
  border-bottom: #f7b845 1px solid;
  color:rgba(77, 77, 77, 0.8);
  padding:10px;
}

.practice-text:hover{
  color:rgba(77, 77, 77, 0.8);
  text-decoration: underline;
  cursor: pointer;
}

.practice-head{
  padding:20px;
}

.bg-color{
  background-color: #f3efe0;
}

.practice-area-head{
  color: #ffd6a1;
}

@media(max-width:500px){
  .map{
    display:none;
  }

  .margin-section{
    padding-top:2.0rem !important;
    padding-bottom:2.0rem !important;
  }

  .margin-section-extra{
    text-align: center;
  }

  h2{
    padding-bottom: 0px !important;
  }

  .flt-btn{
    width:80%;
    position:fixed !important;
    bottom:70px !important;
    left:10% !important;
    right:10% !important;
  }

  .headshot{
    max-height:200px;
    padding-bottom:2rem;
    padding-top:2rem;
  }
}

.collapse{
  text-align: center
}

.about-h2{
  padding-bottom:10px !important;
}

.about-h4{
  padding-bottom:25px;
}

@media(min-width:501px){
  .flt-btn{
    position: fixed;
    top:50px;
    right:20px;
  }
}

@media(max-width:768px){
  .header-title{
    font-size: 16px;
  }

  .header-contact{
    display:none;
  }

  .home-header{
    font-size:1.75rem;
    line-height:2.5rem;
  }

  .home-header-lead{
    display:none;
  }

  .home-header-div{
    height:375px;
  }

  .header-mobile-button{
    display:inline-block;
    margin:0px 10px;
    width: 43%;
  }

  h2{
    font-size:1.7rem;
    /* margin-bottom: 40px; */
  }
}

h2{
  padding-bottom:30px;
}

.home-header{
  font-weight: bold;
}

.m-2-0{
  margin:2rem 0;
}

.mt-20{
  margin-top:2rem;
}

.m-35{
  margin:3.5rem;
}

.mb-35{
  margin-bottom: 3.5rem;
}


.star{
  color: #f7b845;
}

nav {
  border-bottom: #f7b845 5px solid;
}

.contact-btn{
  margin-top: 0px !important;
}

.location-btn{
  margin-top: 1.0rem !important;
}

.btn-primary {
  font-size: 1rem;
  margin-top: 1.5rem;
  /* font-weight: bold; */
  padding: 10px 25px;
  border: none;
  border-radius: 0;
  background-color: #f7b845;
}

.card {
  border: none;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1)!important;
  border-radius: 0;
}

.pointer:hover{
  cursor: pointer;
  text-decoration: underline
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1 !important;
  color: white !important;
}

.jumbotron {
  background:transparent !important;
  padding: 0rem 2rem !important;
  max-width: 1000px;
  margin: 0 auto 50px;
}

.about{}

.jumbotron h1 {
  letter-spacing: 11px;
  padding: 40px 0;
  margin-bottom: 0;
  color: #fff;
}

.jumbotron .btn-primary {
  color: #23415b;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
  transition: all .2s;
}

.margin-1{
  margin:2px
}

.header-img{
  display: flex;
  background-image: url('./pictures/background.jpg');
  background-size: cover;
}

.review-div{
  min-height:200px;
}

.review-text{
  font-size:1.1rem;
}

.carousel-control-next-icon{
  background-image: url('./pictures/angle-right-solid.svg');
}

.carousel-control-prev-icon{
  background-image: url('./pictures/angle-left-solid.svg')
}

.header-img > div {
  background-color: rgba(34, 76, 111, 0.61);
  color: #fff;
}

.card-title {
  margin-bottom: 0!important;
}

.navbar-brand {
  font-family: 'Arapey', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}

.col-12{
  padding: 0px;
}

.dropdown-menu{
  width:'100%';
  /* height: 150px; */
}

li.dropdown:hover .dropdown-menu{
  display: block;
}

.form-control{
  border-radius: 0;
}

.navbar-nav .dropdown-menu2 {
  position: static;
  float: none;
}